// Include parts of Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/transitions";
// Custom
@import "./transition";

//google font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap");

#app {
  margin: 0 auto;
  color: #333333;
  font-weight: normal;
  font-family: "Noto Sans TC", sans-serif;
}
main {
  background-color: #f5f5f5;
}
a {
  color: unset;
  text-decoration: none;
}

// scrollbar
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
  box-shadow: 0px 0px 3px #fffafa inset;
}
::-webkit-scrollbar-thumb {
  background: rgba(67, 154, 235, 0.15);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(67, 154, 235, 0.45);
}

// custom element plus
.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  font-weight: 400;
  color: #999999;
}
.menuHasNoLink .el-breadcrumb__inner {
  color: #999999;
  cursor: default;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #333333;
  cursor: default;
}
.el-table th.el-table__cell > .cell {
  font-weight: 500;
}
