// 自訂 Breakpoint
$device: (
  xlpc: 1601px,
  pc: 1401px,
  nb: 1281px,
  xlpad: 1025px,
  padair: 992px,
  pad: 769px,
  phone: 576px,
);

// 取得自訂斷點
/* 例如:
  @include device(pc);
  得到 1400px
*/
@function device($name) {
  @return map-get($device, $name);
}

// Responsive Media Query
// (to-pc 為 指定斷點以上的螢幕, to-mb 為指定斷點以下得螢幕)
/*
例如：
  @include res(pad, to-pc) {...}
  等同於
  @media all and (min-width: 768px) {...}

  @include res(pad, to-mb) {...}
  等同於
  @media all and (max-width: 767px) {...}
*/
@mixin res($selected, $mode: to-pc) {
  @if $mode == to-pc {
    @media all and (min-width: device($selected)) {
      @content;
    }
  }
  @if $mode == to-mb {
    $size: device($selected) - 1px;
    @media all and (max-width: $size) {
      @content;
    }
  }
}

// font style
@mixin fontStyle($font-family, $font-size, $font-weight, $font-color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  @if ($font-color == default) {
    color: $blackColor;
  } @else {
    color: $font-color;
  }
}

// 設定 flexbox
// 若 $align = center，則水平、垂直皆置中
// 若 $align = x，則水平置中
@mixin flexbox($align) {
  display: flex;
  @if ($align == center) {
    align-items: center;
    justify-content: center;
  } @else if($align == x) {
    justify-content: center;
  } @else if($align == y) {
    align-items: center;
  }
}
