// font family
$font-default: "Noto Sans TC", sans-serif;
$font-en-title: "Montserrat", sans-serif;

// colors
$mainColor: #439aeb;
$secondColor: #304156;
$blackColor: #2c2c2c;
$whiteColor: #ffffff;
$noneColor: transparent;
$greyColor: #ecf0f3;
$warningColor: #ffd04b;
$obviousTextColor: #bfcbd9;
